.contactPaneDiv, .contactIcon {
    height: 64px;
}
.contactPaneDiv {
    box-shadow: -1px 1px 3px 0px #a0a0a0;
    margin: 10px 0px;

    overflow: hidden;
}
.contactTextDiv {
    margin-left: 20px;
    position: relative;
    top: -30px;
}
.webix_list_item{
    border:none;
}
.webix_list .webix_list_item.webix_selected{
    background:transparent;
}
.webix_list .webix_list_item.webix_selected div{
    background: #27ae60;
}



.webix_layout_toolbar.webix_toolbar {
    color: #fff;
    font-size: 18px;
    background:#88ceff;
}



.absarea{
    position: relative;
}

.mirrorDiv, #mirrorVideo {
    width: 1000px;
    height: 500px;
}
.mirrorDiv {
    width:1000px;
    height: 500px;
    position: absolute;
    top: 20px; left: 20px;
    background: #DDD;
    border: 1px solid silver;
}

.status div{
    text-align: right;
}

.windowToUniverseDiv {
    width:400px;
    height: 300px;
    position: absolute;
    top: 20px; left: 20px;
    background: #DDD;
    border: 1px solid silver;
}
#windowToUniverse {
    width: 400px;
    height: 300px;
}

.error {
    color: red;
    text-weight: bold;
}

 .webix_success div{
     background:#8f9;
 }
